{% extends 'base.html' %}
    {% block title %}
    	Blog
    {% endblock %}<title>Blog</title>
{% block content %}
<p class="pl-4 pt-4 text-2xl">Website for people who like to cook .</p>

<div class="divider pt-4 pb-4"></div>
<div class="pt-4 pb-4">
   <form method="get" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% for field in filter_recipe.form %}
            <div class="mb-4 flex flex-wrap items-center justify-between"> <!-- Flex container for the entire field, including the button -->
                <div>
                    <label class="block text-gray-700 text-2xl font-bold mb-2">
                        {{ field.label }}
                    </label>
                    <div class="flex items-center flex-wrap"> <!-- Flex container for choices -->
                        {% for choice in field %}
                            <div id="input" class="flex items-center mr-4 mb-2 "> <!-- Flex item for each choice -->
                                {{ choice.tag }}  <!-- This will render the checkbox input -->
                                <label class="ml-2 text-gray-700" for="input">
                                    {{ choice.choice_label }} <!-- This will render the label next to the checkbox -->
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded">
                    Filter
                </button>
            </div>
        {% endfor %}
    </form>

    <h3 class="text-3xl font-bold pt-4 pb-4 pl-6">Recipes</h3>

        <div class="h-full bg-red grid grid-cols-3 gap-8 pt-4 pl-4 pr-4  ">
        {% for recipe in recipes %}
            <a href="{{ recipe.id }}" class="recipe-card ">
                  <div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-none shadow-none bg-clip-border">
                    <img class="h-56 w-full object-cover" src="{{ recipe.image.url }}"
                      alt="{{ recipe.title }}" />
                  </div>
                    <div class="p-6">
                        <h3 class="capitalize block font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                      {{ recipe.title }}
                        </h3>
                        <p class=" block mt-3 font-sans text-xl antialiased font-normal leading-relaxed text-gray-700">
                            {{ recipe.description }}
                        </p>
                    </div>
            </a>
    {% endfor %}

        </div>
</div>
{% endblock %}